
//-----Fonts-----//
    @import url(https://fonts.googleapis.com/css?family=Oswald|Montserrat:400,400i,700,700i&effect=anaglyph|fire-animation);
    // class="font-effect-fire-animation" OR class="font-effect-anaglyph"
    $mainFont: 'Montserrat';
    $altFont: 'Oswald';

//-----Colors-----//
    $mainTxtCol: #eee;//rgb(35, 32, 32);
    $altTxtCol: #300;

    $mainBGCol: #222;//rgb(200, 206, 173);
    $altBGCol: #33555340;
//-----Style-----//
    body{
        background: $mainBGCol;
        color: $mainTxtCol;
        font-size: .75em;
        font-family: $mainFont;

        width: 960px;
        margin: 1em auto;

        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr repeat(8, 5fr);
        
        
        header{
            padding: .5em;
            background: $altTxtCol;
            
            text-align: center;

            grid-column: span 2;
            grid-row: span 1;
        }

        div.slots{ //| Card-divs
            background: $altBGCol;
            padding: 1em;


            .imgCat{
                border: 2px solid black;
                width: auto;
                transition: all ease 0.5s;
    
            }
            
    
            
        }

        div.slots:nth-of-type(1){
            
            .imgCat{
                width: 300px;
                transition: all linear 0.2s;//, 
            }

            .imgCat:hover{
                transform: translateY(10px) translateX(20px);
                width: 380px;

            }
        }

    }

