@import url(https://fonts.googleapis.com/css?family=Oswald|Montserrat:400,400i,700,700i&effect=anaglyph|fire-animation);
@media screen and (min-width: 520px) {
  body {
    background: #222;
    color: #eee;
    font-size: .75em;
    font-family: "Montserrat";
    width: 480px;
    margin: 1em auto;
    display: -ms-grid;
    display: grid;
    grid-gap: 1em;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr (5fr)[8];
        grid-template-rows: 1fr repeat(8, 5fr);
  }
  body header {
    padding: .5em;
    background: #300;
    text-align: center;
    grid-column: span 1;
    grid-row: span 1;
  }
  body div.slots {
    background: #33555340;
    padding: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body div.slots .imgCat {
    border: 2px solid black;
    width: auto;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  body div.slots:nth-of-type(3) div#scene {
    width: 400px;
    height: 400px;
    -webkit-perspective: 600px;
            perspective: 600px;
    position: relative;
  }
  body div.slots:nth-of-type(3) div#scene div#cube {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform: translateZ(-200px);
            transform: translateZ(-200px);
    -webkit-transition: -webkit-transform 1s linear;
    transition: -webkit-transform 1s linear;
    transition: transform 1s linear;
    transition: transform 1s linear, -webkit-transform 1s linear;
  }
  body div.slots:nth-of-type(3) div#scene div#cube div.cubeFace {
    position: absolute;
    width: 400px;
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: #123;
    font-size: 3em;
    border: 1px solid #000;
  }
  body div.slots:nth-of-type(3) div#scene div#cube .cubeFront {
    -webkit-transform: rotateY(0deg) translateZ(200px);
            transform: rotateY(0deg) translateZ(200px);
    background: #0ff5;
  }
  body div.slots:nth-of-type(3) div#scene div#cube .cubeRight {
    -webkit-transform: rotateY(90deg) translateZ(200px);
            transform: rotateY(90deg) translateZ(200px);
    background: #f0f5;
  }
  body div.slots:nth-of-type(3) div#scene div#cube .cubeBack {
    -webkit-transform: rotateY(180deg) translateZ(200px);
            transform: rotateY(180deg) translateZ(200px);
    background: #f005;
  }
  body div.slots:nth-of-type(3) div#scene div#cube .cubeLeft {
    -webkit-transform: rotateY(-90deg) translateZ(200px);
            transform: rotateY(-90deg) translateZ(200px);
    background: #ff05;
  }
  body div.slots:nth-of-type(3) div#scene div#cube .cubeTop {
    -webkit-transform: rotateX(90deg) translateZ(200px);
            transform: rotateX(90deg) translateZ(200px);
    background: #0f05;
  }
  body div.slots:nth-of-type(3) div#scene div#cube .cubeBottom {
    -webkit-transform: rotateX(-90deg) translateZ(200px);
            transform: rotateX(-90deg) translateZ(200px);
    background: #00f5;
  }
  body div.slots:nth-of-type(3) div#scene div#cube:hover {
    -webkit-transform: translateZ(-200px) rotateY(180deg);
            transform: translateZ(-200px) rotateY(180deg);
  }
  body div.slots:nth-of-type(3) div#scene div#cube:active {
    -webkit-transform: translateZ(-200px) rotateX(180deg);
            transform: translateZ(-200px) rotateX(180deg);
  }
  body div.slots:nth-of-type(2) div#treD {
    -webkit-perspective: 600px;
            perspective: 600px;
    width: 200px;
    height: 200px;
    position: relative;
    -webkit-animation: boxTurn 1s linear 0s 2 alternate;
            animation: boxTurn 1s linear 0s 2 alternate;
  }
  body div.slots:nth-of-type(2) div#treD div#cardInner {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  body div.slots:nth-of-type(2) div#treD div#cardInner div {
    width: 200px;
    height: 200px;
    position: absolute;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border: 1px solid #000;
  }
  body div.slots:nth-of-type(2) div#treD div#cardInner div:nth-of-type(1) {
    background: #2575;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  body div.slots:nth-of-type(2) div#treD div#cardInner div:nth-of-type(2) {
    background: #5275;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  @-webkit-keyframes boxTurn {
    0% {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
    100% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
  }
  @keyframes boxTurn {
    0% {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
    100% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
  }
  body div.slots:nth-of-type(1) .imgCat {
    width: 300px;
    -webkit-transition: all linear 0.2s;
    transition: all linear 0.2s;
  }
  body div.slots:nth-of-type(1) .imgCat:hover {
    -webkit-transform: translateY(10px) translateX(20px);
            transform: translateY(10px) translateX(20px);
    width: 380px;
  }
}

@media screen and (min-width: 1000px) {
  body {
    width: 960px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  body header {
    grid-column: span 2;
  }
}
/*# sourceMappingURL=main.css.map */